@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --primary: green;
  --error: red;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Quicksand";
}

header {
  background: #fff;
}

header .container {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-buttons p {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  height: 100vh;
  width: 100%;
}


.product-table {
  height: 100%;
  width: 100%;
}

.product-table th {
  text-align: left;
}

.product-table tr:nth-child(even) {
  text-align: left;
  background-color: rgb(228, 228, 228);
}

.product-table tr {
  text-align: left;
  border-style: none;
  padding: 10em;
}