.product-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-product-form {
    display: flex;
    min-height: 30%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: #0D1117;
    border: 1px solid;
    border-color: #384861;
    color: white;
    box-shadow: 0px 0px 30px black;
}

#new-product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

#new-product-submit-button {
    display: flex;
    width: 100%;
    justify-content:flex-end;
}

.close-button {
    margin: -10px;
    position: relative;
    left: 50%;
}

#context-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7%;
    border-radius: 5px;
    background-color: #0D1117;
}

.context-menu-selection {
    text-align: center;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.context-menu-selection:hover {
    background-color: #384861;  
    cursor: pointer;
    border-radius: 5px;
}

#context-menu-delete-button:hover{
    background-color: red;
}

#context-menu-submit-button:hover{
    background-color: green;
}