.receive-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-receive-form {
    display: flex;
    background-color: grey;
    min-height: 30%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

#products {
    min-height: 200px;
}

#receive-submit-button {
    display: flex;
    width: 100%;
    justify-content:flex-end;
}

.close-button {
    margin: -10px;
    position: relative;
    left: 50%;
}